<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <script type="text/javascript" src="/static/js/link_file.js" defer></script>
        <link href="/static/css/link_file.css" rel="stylesheet" />
    </head>
    <body>
        <h2>Drag and drop image</h2>
        <img id="show" />
        <p><button id="set">Set as wallpaper</button></p>
        <p id="result"></p>
    </body>
</html>